$colour1: #000;
$colour2: #fff;
$colour3: #808000;

.landing {
  text-align: center;
  .landing-title {
    font-size: 120px;
    padding-top: 14%;
  }
  .landing-subtitle {
    font-size: 28px;
  }
}
